* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'football';
  src: url('../public/fonts/EASPORTS15.ttf');
}

@media screen and (max-width: 767px) { /*Aqui empieza el media screen*/

div#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #F5F5F5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: auto;
  flex-grow: 1;  
  gap:1rem;
}

} /*Aqui termina el media screen*/