main > div.login-form {
    width: 50%;
    display: flex;
    flex-direction: column; 
    gap:0.5rem;
}

main > div.login-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div.login-form > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > div.login-form > form > div > button {
    margin-top: 0.5rem;     
}

@media screen and (min-width: 768px) {
    main > div.login-form {
        width: 100%;
        height: 100vh;
    }
  }